python-telegram-bot==20.3  # Основная библиотека для работы с Telegram API
python-dotenv==1.0.0       # Для работы с переменными окружения (если используете .env)
requests==2.31.0           # Для выполнения HTTP-запросов (если нужно)
aiohttp==3.8.5             # Асинхронные HTTP-запросы (если используется)
APScheduler==3.10.1        # Для планировщика задач (если нужно)
nest_asyncio
PyGithub==1.59.0
